html, body {
  margin: 0;
  padding: 0;
  font-family: "Calibri", "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 90%;
  background: #e0d8d8; }

html {
  overflow: hidden;
  color: #776666; }

textarea, code, pre {
  font-family: "Consolas", Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 12px; }

#pageHeader {
  margin: 0.4em 0 -1.3em 0;
  padding: 0;
  text-align: center;
  cursor: default; }
  #pageHeader h1:after {
    content: "; "; }
  #pageHeader h1, #pageHeader h2 {
    font-size: 1em;
    display: inline; }
  #pageHeader * {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-weight: 100; }

#leftContainer, #rightContainer {
  margin: 0;
  padding: 0;
  position: relative;
  width: 47.5%; }

#leftContainer {
  float: left;
  left: 1.5%;
  margin-top: 25px; }

#rightContainer {
  float: right;
  right: 1.5%;
  color: #222; }
  #rightContainer #paneSetting {
    float: right; }

.paneHeader {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2em; }
  .paneHeader span {
    padding: 0 0.75em; }
  .paneHeader #paneSetting {
    background-color: #dacccc;
    border: 1px solid #999; }

.pane {
  background: #f3eeee;
  border: 1px solid #888;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  /* pane padding */
  width: 100%;
  /* note: the panes get their height set with javascript; see
   * sizeTextAreas(). 
   * for now, set a height so things look nice if the user has
   * javascript disabled 
   */
  height: 400px; }

#outputPane {
  background: #6c6666;
  color: #fff;
  display: none; }

#syntaxPane {
  display: none; }

div.pane {
  overflow: auto; }

#inputPane {
  background-color: #fff; }

#previewPane {
  padding: 0 5px; }
  #previewPane > blockquote {
    margin-left: 3em; }
  #previewPane > :first-child {
    margin-top: 4px; }
  #previewPane * {
    line-height: 1.4em; }

footer {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
  height: 2.5em;
  margin-top: 0.5em;
  font-family: "Calibri", "Helvetica Neue", Ubuntu, sans-serif; }
  footer a {
    text-decoration: none;
    color: #766; }
    footer a:hover {
      text-decoration: underline; }
  footer #byline {
    padding-left: 2em; }
  footer #rightFooter {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1em;
    text-align: right;
    top: 0; }
  footer #processingTime {
    margin: 0;
    padding: 0;
    width: 4em; }

#convertTextControls {
  display: none; }

@media (max-width: 850px) {
  #byline {
    display: none; } }
